/*=== BAGIAN FONT ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body{
	/*height: 200vh;*/
	overflow-x: hidden;
}
@font-face{
	font-family: "Azonix";
	src: url('Azonix.otf') format('opentype');
}
img{
	width: 100%;
}


/*=== BAGIAN NAVBAR ===*/
nav{
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
	/*background: #224178;*/
}
nav.sticky{
	background: #fff;
	padding: 2px 100px;
}
body.dark nav.sticky{
	background: #1d1d1d;
}
nav a{
	text-decoration: none;
}
nav .logo{
	font-size: 1.5em;
	font-family: "Azonix", sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	transition: 0.5s;
	border-radius: 50px;
}
nav .logo:hover{
	color: #fff;
}
nav ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
nav ul li{
	list-style: none;
	margin: 25px 25px 0px;
	transition: 0.3s;
	border-radius: 50px;
}
nav ul li:hover{
	padding: 0px 20px;
	background: rgba(86, 143, 219,0.5);
}
nav ul li a{
	letter-spacing: 1px;
	color: #fff;
	transition: 0.3s;
	font-weight: 700;
}
nav ul li a:hover{
	color: #fff;
}
nav.sticky ul li a{
	color: #1d1d1d;
}
body.dark nav.sticky ul li a{
	color: #fff;
}
nav .menu{
	display: none;
}
nav ul li img{
	width: 34px;
	height: 34px;
}

/*--- Tablet Breakpoint ---*/
@media screen and (max-width: 768px){
	nav{
		padding: 15px 150px;
	}
	nav.sticky{
		padding: 5px 150px;
	}
	nav ul{
		padding-top: 50px;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 100vh;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        z-index: -1;
        transform: translateX(100%);
        transition: 0.5s;
        background: #25518a;
    }
    nav ul.slide{
        opacity: 1;
        transform: translateX(0%);
    }
    nav ul li a{
		letter-spacing: 1px;
		color: #fff;
		transition: 0.3s;
	}
    body.dark nav ul li a{
    	color: #fff;
    }
    nav .menu{
		justify-content: space-between;
    	position: relative;
		display: flex;
		flex-direction: column;
    	height: 20px;
	}
	nav .menu input{
		position: absolute;
		cursor: pointer;
	    width: 40px;
	    height: 28px;
	    z-index: 2;
	    top: -4px;
	    left: -7px;
	    opacity: 0;
	}
	.menu span{
	    display: block;
	    width: 28px;
	    height: 3px;
	    background: #fff;
	    border-radius: 50px;
	    transition: 0.3s cubic-bezier(0.57,-0.64, 0.3, 1.46);
	}
	nav.sticky .menu span{
		background: #1d1d1d;
	}

	/*--- Humbergur Menu Animation ---*/
	.menu span:nth-child(2) {
	    transform-origin: 0 0;
	}
	.menu input:checked ~ span:nth-child(2) {
	    background-color: #fff;
	    transform: rotate(45deg) translate(0px, -1px);
	}
	nav.sticky .menu input:checked ~ span:nth-child(2) {
		background: #1d1d1d;
	}
	.menu span:nth-child(4) {
	    transform-origin: 0 100%;
	}
	.menu input:checked ~ span:nth-child(4) {
	    background-color: #fff;
	    transform: rotate(-45deg) translate(-1px, 0px);
	}
	nav.sticky .menu input:checked ~ span:nth-child(4) {
		background: #1d1d1d;
	}
	.menu input:checked ~ span:nth-child(3) {
	    opacity: 0;
	    transform: scale(0);
	}
	nav.sticky .menu input:checked ~ span:nth-child(3) {
		background: #fff;
	}
}

/*--- Mobile Breakpoint ---*/
@media screen and (max-width: 576px){
	nav{
		padding: 15px 50px;
	}
	nav.sticky{
		padding: 5px 50px;
	}
}

/*=== BAGIAN JUMBTRON ===*/
.jumbotron{
	background: url(img/background-5.png);
	background-size: cover;
	background-repeat: no-repeat;
	/*background: rgba(98,75,245,1);*/
	/*background: radial-gradient(circle, rgba(74,200,195,1) 3%, rgba(98,75,245,1) 100%);*/
	/*background: linear-gradient(45deg, rgba(255,222,255,1) 0%, rgba(98,75,245,1) 50%, rgba(12,41,72,1) 100%);*/
	/*background: linear-gradient(45deg, rgba(12,41,72,1) 0%, rgba(98,75,245,1) 50%, rgba(255,222,255,1) 100%);*/
	/*background: linear-gradient(45deg, rgba(76,104,215,1) 0%, rgba(205,72,107,1) 50%, rgba(252,204,99,1) 100%);*/
	position: relative;
	height: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.jumbotron img.logo{
	position: absolute;
	max-width: 28rem;
	-webkit-filter: drop-shadow(20px 5px 20px rgba(0,0,0,0.1));
	z-index: 1;
}
.jumbotron h2{
	position: absolute;
	/*margin-right: -100px;*/
	/*right: 0px*/
	/*font-family: "Azonix", sans-serif;*/
	text-transform: uppercase;
	font-weight: 800;
	font-size: 9em;
	font-family: "Azonix", sans-serif;
}
.jumbotron h2.text{
	background: -webkit-linear-gradient(90deg, rgba(3,169,250,1) 0%, rgba(135,251,203,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	z-index: 2;
}
.jumbotron h2.text2{
	color: rgba(0,0,0,0.1);
	transform: translate(25px, 25px);
	z-index: 1;
	/*font-size: 8.2em;*/
}
.jumbotron h2.other{
	color: transparent;
	/*-webkit-text-stroke: 2px #ff0026;*/
	-webkit-text-stroke: 0.1px #fcba03;
	z-index: 3;
	transform: translate(-3px, -3px);
	/*text-shadow: 50px 50px 0px rgba(0,0,0,0.5);*/
}
.jumbotron .content-2{
	position: absolute;
	top: -60px;
	left: -40px;
}
.jumbotron .content{
	position: absolute;
	bottom: -50px;
	right: -20px;
}
.jumbotron .content .bungkus,
.jumbotron .content-2 .bungkus{
	display: flex;
}
.jumbotron .content .bungkus .dot,
.jumbotron .content-2 .bungkus .dot{
	margin: 12px;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: rgba(255,255,255,0.5);
}

/*--- RESPONSIVE ---*/
@media screen and (max-width: 576px){
	.jumbotron h2{
		font-size: 3em;
	}
	.jumbotron .content-2{
		position: absolute;
		top: -100px;
		left: -70px;
	}
	.jumbotron .content{
		position: absolute;
		bottom: -100px;
		right: -70px;
	}
	.jumbotron{
		height: 500px;
	}
	.jumbotron img.logo{
		max-width: 15rem;
		left: 0px;
	}
}

/*=== BAGIAN ABOUT ===*/
.about{
	/*background: url(img/background-4.png);
	background-size: cover;*/
	padding: 100px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	/*background: linear-gradient(90deg, rgba(0,255,128,1) 6%, rgba(0,255,201,1) 87%);*/
	/*background: linear-gradient(90deg, rgba(255,174,0,1) 6%, rgba(255,226,0,1) 87%);*/
	/*background: linear-gradient(45deg, #5b78e8 0%, #de5f80 50%, #f5d184 100%);*/
	background: linear-gradient(45deg, rgba(76,104,215,1) 0%, rgba(205,72,107,1) 50%, rgba(252,204,99,1) 100%);
}
.about h2 span.main-1{
}
.about h2{
	font-size: 4em;
	text-align: center;
	font-weight: 800;
	/*text-shadow: 1px 1px 0px rgba(225,225,225,0.65),
	2px 2px 0px rgba(225,225,225,0.65),
	3px 3px 0px rgba(225,225,225,0.65),
	4px 4px 0px rgba(225,225,225,0.65),
	5px 5px 0px rgba(225,225,225,0.65),
	6px 6px 0px rgba(225,225,225,0.65),
	7px 7px 0px rgba(225,225,225,0.65),
	8px 8px 0px rgba(225,225,225,0.65),
	15px 15px 0px rgba(0,0,0,0.05);*/
	font-family: "Azonix", sans-serif;
}
.about h2 span.main{
	font-family: "Azonix", sans-serif;
}
.about .content{
	position: relative;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	z-index: 1;
}
.about .card{
	position: relative;
	margin-top: 50px;
	padding: 10px 15px;
	width: 300px;
	background: #5d3cab;
	border: none;
	border-radius: 15px;
	/*backdrop-filter: blur(15px);*/
	box-shadow: 0px 15px 30px rgba(0,0,0,0.3);
	color: #fff;
}
.about .content .card h1{
	text-align: center;
	font-weight: 700;
}
.about .content .card p{
	font-family: 'Kanit', sans-serif;
}
.about .content .card:nth-child(3) p{
}
.about img{
	max-width: 50rem;
	border-radius: 15px;
}

/*=== BAGIAN LAUNCHING ===*/
.launching{
	position: relative;
	overflow: hidden;
}
.launching img.patren{
	filter: opacity(0.3);
	position: absolute;
	top: 50px;
	left: -300px;
	transform: rotate(90deg);
	max-width: 700px;
}

/*--- BAGIAN ABOUT US ---*/
.launching .aboutUs{
	padding-bottom: 100px;
}
.launching .aboutUs .row h1{
	position: relative;
	margin-top: 50px;
	text-align: right;
	font-weight: 800;
	color: #fff;
	font-size: 4em;
	z-index: 5;
}
.launching .aboutUs .row h1 span{
	font-family: "Azonix", sans-serif;
}
.launching .aboutUs .row p{
	position: relative;
	text-align: right;
	color: #fff;
	z-index: 5;
}
.launching .aboutUs .swiper-container {
	position: relative;
	width: 350px;
	height: 350px;
}
.launching .aboutUs .swiper-slide {
	position: relative;
	padding: 15px;
	/*background: url(img/background-6.png);*/
	background-position: center;
	background-size: cover;
	background: #fcba03;
}
.launching .aboutUs .swiper-slide h2{
	font-size: 2em;
	color: #171717;
	font-weight: 800;
	text-align: center;
}
.launching .aboutUs .swiper-slide ul{
}
.launching .aboutUs .swiper-slide ul li{
	color: #171717;
}
.launching .aboutUs .swiper-slide .kosong{
	display: flex;
	justify-content: center;
	align-items: center;
}
.launching .aboutUs .swiper-slide .kosong p{
	position: absolute;
	bottom: -15px;
	width: 100px;
	height: 30px;
	border-radius: 50px 50px 0px 0px;
	background: rgba(255,255,255,0.2);
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000;
	font-weight: 800;
}
.launching .aboutUs .swiper-slide img.illustration{
	width: 250px;
	position: absolute;
	bottom: -10px;
	right: -100px;
	transform: rotate(10deg);
	-webkit-filter: drop-shadow(-5px 10px 20px rgba(0,0,0,0.5));
}
.launching .aboutUs .swiper-slide img.illustration-2{
	transform: rotate(0deg);
	bottom: -30px;
	right: -120px;
}
.launching .aboutUs .swiper-slide img.illustration-3{
	transform: rotate(0deg);
	bottom: -30px;
	right: -150px;
}
.launching .aboutUs .swiper-slide img.asset{
	width: 185px;
	position: absolute;
	-webkit-filter: drop-shadow(5px 15px 20px rgba(0,0,0,0.5));
}
.launching .aboutUs .swiper-slide img.asset-1{
	transform: rotate(-20deg);
	bottom: -20px;
	left: -50px;
}
.launching .aboutUs .swiper-slide img.asset-2{
	bottom: -30px;
	left: -30px;
}
.launching .aboutUs .swiper-slide img.asset-3{
	bottom: -70px;
	left: -60px;
}
.launching{
	overflow: hidden;
	padding: 100px 0px 150px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(img/background.png);
	background-size: cover;
	/*background: linear-gradient(90deg, rgba(255,166,0,1) 6%, rgba(255,231,0,1) 87%);*/
}
.launching img.image{
	position: relative;
	max-width: 35rem;
	border-radius: 15px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.5);
	z-index: 5;
}
.launching .content-areas h1{
	margin-top: 30px;
	font-weight: 800;
	color: #fff;
	font-size: 4em;
}
.launching .content-areas h1 span{
	font-family: "Azonix", sans-serif;
}
.launching .content-areas p{
	color: #fff;
}
.launching .product{
	margin-top: 100px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.launching .product h2{
	font-size: 16vw;
	color: #fcba03;
	font-weight: 800;
}
.launching .product img{
	position: absolute;
	margin-bottom: -50px;
	max-width: 45rem;
	transform: rotate(-10deg);
	-webkit-filter: drop-shadow(0px 5px 20px rgba(0,0,0,0.5));
}
.launching .product p{
	position: absolute;
	font-size: 2em;
	font-weight: 800;
}
.launching .product .text1{
	top: 0px;
	left: 100px;
	color: #fff;
}
.launching .product .text2{
	bottom: -30px;
	right: 100px;
	color: #fff;
}
.launching .product .price{
	position: absolute;
	top: 0px;
	right: 100px;
	width: 130px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #fcba03;
	color: #000;
	font-weight: 800;
	border-radius: 10px;
	font-size: 2em;
}

/*--- RESPONSIVE ---*/
@media screen and (max-width: 576px){
	.launching .product p{
		font-size: 1em;
	}
	.launching .product .text1{
		top: -10px;
		left: 60px;
	}
	.launching .product .text2{
		bottom: -30px;
		right: 50px;
	}
	.launching .product .price{

	}
}

/*=== BAGIAN SLIDE ===*/
.seputar{
	position: relative;
	padding: 50px 0px;
	background: url(img/background-3.png);
	background-size: cover;
	overflow: hidden;
	/*height: 500px;*/
}
.seputar img.banner{
	position: absolute;
	bottom: -10px;
	left: 0px;
	filter: opacity(0.5);
	transform: rotate(-5deg);
}
.seputar .yahalo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.seputar .halo h1.text1{
	position: absolute;
	left: -90px;
	font-size: 5em;
	font-weight: 800;
	transform: rotate(-90deg);
	letter-spacing: 5px;
	text-shadow: 15px 0px 15px rgba(0,0,0,0.1);
	color: #fcba03;
}
.seputar .halo h1.text2{
	position: absolute;
	right: -75px;
	font-size: 5em;
	font-weight: 800;
	transform: rotate(90deg);
	letter-spacing: 5px;
	text-shadow: 15px 0px 15px rgba(0,0,0,0.1);
}
.seputar .halo{
	position: relative;
}
.seputar .halo .content{
	display: flex;
	justify-content: center;
	align-items: center;
}
.seputar .halo .kotak{
	background: url(img/mobile-wallpaper.jpg);
	background-size: cover;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 250px;
	height: 450px;
	border-radius: 25px;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.5),
				inset 0px 0px 15px rgba(0,0,0,0.5);
	border: 5px solid black;
}
.seputar .halo .kotak::before{
	content: '';
	position: absolute;
	top: 0px;
	background: #000;
	width: 130px;
	height: 15px;
	border-radius: 10px 10px 50px 50px;
}
.seputar .halo .kotak h1{
	margin-top: 50px;
	color: #fff;
	font-weight: 200;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 3px;
}

/*--- BAGIAN SOCIAL MEDIA ---*/
.seputar .halo .kotak img{
	position: absolute;
	width: 50px;
	-webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.5));
	z-index: 2;
}
.seputar .halo .kotak img.instagram{
	top: 50px;
	left: -20px;
	transform: rotate(20deg);
}
.seputar .halo .kotak img.tiktok{
	top: 50px;
	right: 0px;
	width: 70px;
	transform: rotate(-10deg);
	z-index: 0;
}
.seputar .halo .kotak img.email{
	top: 190px;
	left: 0px;
	width: 80px;
	transform: rotate(-5deg);
	z-index: 0;
}
.seputar .halo .kotak img.facebook{
	bottom: 20px;
	right: -20px;
	width: 100px;
	transform: rotate(25deg);
}
.seputar .halo .kotak img.whatsapp{
	bottom: 20px;
	left: -15px;
	transform: rotate(-15deg);
}

.seputar .halo img.product{
	position: relative;
	max-width: 50rem;
	-webkit-filter: drop-shadow(15px 15px 20px rgba(0,0,0,0.7));
	z-index: 1;
}
.seputar .carousel .carousel-inner .carousel-item{
	height: 300px;
}
.seputar .carousel .carousel-inner .carousel-item h1{
	font-weight: 800;
	font-size: 5em;
}
.seputar .carousel .carousel-inner .carousel-item p{
	margin-top: 20px;
	font-weight: 500;
	font-size: 1.3em;
}
.seputar .carousel .carousel-indicators{
	margin-bottom: -50px !important;
}
.seputar .carousel .carousel-indicators button{
	margin: 0px 15px;
	width: 17px !important;
	height: 17px !important;
	border-radius: 50% !important;
}

/*--- BAGIAN ORDER ---*/
.seputar .order{
	position: relative;
	padding: 50px 0px;
	/*height: 500px;*/
}
.seputar .order .bungkusan{
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.seputar .order h1{
	font-size: 4em;
	font-weight: 800;
	text-align: center;
	text-shadow: 0px 10px 15px rgba(0,0,0,0.3);
}
.seputar .order p.text{
	text-align: center;
}
.seputar .order .card{
	position: relative;
	background: transparent;
	width: 300px;
	height: 300px;
	margin: 10px;
	border-radius: 10px;
	border: none;
	perspective: 1000px;
	z-index: 1;
}
.seputar .order .card .card-inner{
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	/*background: url(img/background-6.png);
	background-position: center;
	background-size: cover;*/
	/*background: #fcba03;*/
	box-shadow: 0px 15px 20px rgba(0,0,0,0.5);
	border-radius: 10px;
	/*background: url(img/background-2.png);
	background-size: cover;
	background-position: center;*/
	background: #ededed;
	/*background: #fcba03;*/
}
.seputar .order .card .card-inner .bungkus{
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	visibility: visible;
	transition: 1s;
}
.seputar .order .card .card-inner .card-front{
	position: relative;
}
.seputar .order .card .card-inner .card-front .title,
.seputar .order .card .card-inner .card-back .title{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -28px;
	border-radius: 10px 10px 0px 0px;
	/*border-radius: 50px 50px 0px 0px;*/
	width: 200px;
	height: 30px;
	font-weight: 800;
	background: #ededed;
	/*background: url(img/background-2.png);
	background-size: cover;
	background-position: center;*/
}
.seputar .order .card .card-inner .card-front img.money{
	width: 185px;
	position: absolute;
	bottom: -30px;
	left: -90px;
	-webkit-filter: drop-shadow(5px 15px 20px rgba(0,0,0,0.5));
}
.seputar .order .card .card-inner .card-front img.logo{
	position: absolute;
	top: 50px;
	left: 50px;
	width: 130px;
	-webkit-filter: drop-shadow(-5px 10px 20px rgba(0,0,0,0.5));
	/*filter: opacity(0.5);*/
}
.seputar .order .card .card-inner .card-front img.tokopedia{
	top: 30px !important;
	left: 40px !important;
	width: 150px;
}
.seputar .order .card .card-inner .card-front img.real{
	left: -60px !important;
	bottom: -55px !important;
}
.seputar .order .card .card-inner .card-front img.illustration{
	position: absolute;
	bottom: 30px;
	right: -20px;
	width: 230px;
	-webkit-filter: drop-shadow(-5px 10px 20px rgba(0,0,0,0.5));
}
.seputar .order .card .card-inner .card-front ion-icon{
	color: #000;
	/*background: #fff;*/
	font-size: 1.3em;
	position: absolute;
	bottom: 5px;
	right: 5px;
}
.seputar .order .card:hover .card-inner{
	transform: rotateY(180deg);
}
.seputar .order .card .card-inner:hover .card-front .bungkus{
	visibility: hidden;
	opacity: 0;
}
.seputar .order .card .card-inner .card-front, .card-back{
	position: absolute;
  	width: 100%;
  	height: 100%;
  	-webkit-backface-visibility: hidden; /* Safari */
  	backface-visibility: hidden;
}
.seputar .order .card .card-inner .card-back{
	padding: 15px;
	transform: rotateY(180deg);
	overflow-y: scroll;
}
.seputar .order .card .card-inner .card-back h6{
	text-align: left;
	font-weight: 800;
	font-size: 1em;
}
.seputar .order .card .card-inner .card-back p{
	text-align: left;
	font-size: 0.8em;
	font-weight: 800;
	margin-top: -10px;
	margin-left: 5px;
}
.seputar .order .card::before{
	content: '';
	position: absolute;
	bottom: -70px;
	width: 100%;
	height: 60px;
	background: radial-gradient(rgba(0,0,0,0.11),transparent,transparent);
	border-radius: 50%;
	transition: 0.5s;
}

/*=== BAGIAN TERAKHIR ===*/
.terakhir{
	position: relative;
	background: url(img/thogether.jpeg);
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	height: 400px;
	/*filter: blur(5px);*/
}
.terakhir p{
	text-align: center;
}
/*.terakhir::before{
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	z-index: 1;
}*/

/*=== Bagian Scrollbar ===*/
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: #232323;
}